<a href="https://colab.research.google.com/github/chohoon901/ML_Project/blob/main/sunghun/ML_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1=pd.read_csv("/content/drive/MyDrive/data/아파트_매매__실거래가_1월.csv")
df2=pd.read_csv("/content/drive/MyDrive/data/아파트_매매__실거래가_2월.csv")

In [ ]:
df2

                시군구   전용면적(㎡)    계약년월  계약일        거래금액(만원)    건축년도  거래유형
0       강원도 강릉시 견소동   84.9450  202302    7          25,500  1997.0  중개거래
1       강원도 강릉시 견소동   84.9450  202302   23          16,000  1997.0   직거래
2       강원도 강릉시 견소동   84.9450  202302   23          23,000  1997.0   직거래
3       강원도 강릉시 견소동   84.9900  202302   11          29,000  2005.0  중개거래
4        강원도 강릉시 교동  164.0098  202302   18          59,500  2009.0  중개거래
...             ...       ...     ...  ...             ...     ...   ...
32006  충청북도 충주시 호암동   84.9289  202302   16          23,000  2007.0  중개거래
32007  충청북도 충주시 호암동   84.9289  202302   21          23,000  2007.0  중개거래
32008  충청북도 충주시 호암동   84.6800  202302    2          20,800  2002.0  중개거래
32009  충청북도 충주시 호암동   84.9500  202302    2          40,000  2019.0  중개거래
32010  충청북도 충주시 호암동   99.8000  202302   16          49,000  2019.0  중개거래

[32011 rows x 7 columns]

In [ ]:
df2.drop("계약일",axis=1)

        시군구   전용면적(㎡)    계약년월  거래금액(만원)    건축년도  거래유형          평당가
0       강원도   84.9450  202302     25500  1997.0     0   990.641003
1       강원도   84.9450  202302     16000  1997.0     1   621.578669
2       강원도   84.9450  202302     23000  1997.0     1   893.519336
3       강원도   84.9900  202302     29000  2005.0     0  1126.014825
4       강원도  164.0098  202302     59500  2009.0     0  1197.184558
...     ...       ...     ...       ...     ...   ...          ...
32006  충청북도   84.9289  202302     23000  2007.0     0   893.688721
32007  충청북도   84.9289  202302     23000  2007.0     0   893.688721
32008  충청북도   84.6800  202302     20800  2002.0     0   810.581011
32009  충청북도   84.9500  202302     40000  2019.0     0  1553.855209
32010  충청북도   99.8000  202302     49000  2019.0     0  1620.240481

[32005 rows x 7 columns]

In [ ]:
def preprocessing(data):
    datas=[]
    data['거래금액(만원)']=(data['거래금액(만원)'].str.replace(',','')).str.strip().astype(int)
    data["평당가"] = (data["거래금액(만원)"] / data["전용면적(㎡)"]*0.3025)
    aa=data['계약년월'].astype(str)
    bb=data['계약일'].astype(str)
    data['계약날짜'] = aa+bb
    data['계약날짜'] = pd.to_datetime(data['계약날짜'], format='%Y%m%d')
    
    data['거래유형'] = data['거래유형'].apply(lambda x:0 if x=='중개거래' else 1)
    data["금리"]=data.apply(lambda x: 3.25 if ((x['계약년월']== 202301) & (x['계약일'] < 13)) else 3.5, axis=1)
    data.dropna(inplace=True)
    data.drop(['계약년월','계약일'],axis=1,inplace=True)
    datas=data.copy()
    return datas

In [ ]:
preprocessing(df1)

,시군구,전용면적(㎡),거래금액(만원),건축년도,거래유형,평당가,계약날짜,금리
0,강원도 강릉시 견소동,84.930,25000,1997.0,0,89.043919,2023-01-04,3.25
1,강원도 강릉시 견소동,84.990,29800,2005.0,0,106.065419,2023-01-05,3.25
2,강원도 강릉시 견소동,84.990,28500,2005.0,0,101.438405,2023-01-25,3.50
3,강원도 강릉시 교동,59.860,20000,2002.0,1,101.069161,2023-01-04,3.25
4,강원도 강릉시 교동,59.840,25000,2002.0,0,126.378676,2023-01-11,3.25
...,...,...,...,...,...,...,...,...
19997,충청북도 충주시 호암동,84.809,33000,2019.0,0,117.705668,2023-01-10,3.25
19998,충청북도 충주시 호암동,84.809,33000,2019.0,0,117.705668,2023-01-10,3.25
19999,충청북도 충주시 호암동,84.960,38500,2019.0,0,137.079214,2023-01-08,3.25
20000,충청북도 충주시 호암동,84.890,37000,2019.0,0,131.847096,2023-01-16,3.50
20001,충청북도 충주시 호암동,84.960,40800,2019.0,0,145.268362,2023-01-28,3.50

In [ ]:
df1.drop("시군구",axis=1,inplace=True)
df2.drop("시군구",axis=1,inplace=True)

In [ ]:
df1.set_index("계약날짜",inplace=True)
df2.set_index("계약날짜",inplace=True)

모델링

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error

In [ ]:
df=pd.concat([df1,df2])

In [ ]:
train = df1
test = df2
X_train = train.drop('거래금액(만원)',axis=1)
y_train = train['거래금액(만원)']
X_test = test.drop('거래금액(만원)',axis=1)
y_test = test['거래금액(만원)']

In [ ]:
X=df.drop('거래금액(만원)',axis=1)
y=df["거래금액(만원)"]

X_train, X_test, y_train, y_test = train_test_split(
      X, y, test_size = 0.2, random_state=110
)

In [ ]:
model = DecisionTreeClassifier(random_state=111)

In [ ]:
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=111)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
rmse = mean_squared_error(y_test,y_pred)**0.5

In [ ]:
rmse

7956.405773673962

In [ ]:
def Modeling(data):
  count=0
  min_value = float(8000.2)
  X=data.drop('거래금액(만원)',axis=1)
  y=data["거래금액(만원)"]
  for i in range(1000,1050):
    X_train, X_test, y_train, y_test = train_test_split(
          X, y, test_size = 0.2, random_state=i
    )
    model = DecisionTreeClassifier(random_state=i)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    rmse = mean_squared_error(y_test,y_pred)**0.5
    print(rmse, i)
    if rmse < min_value:
        min_value = rmse
        count=i
  print(min_value, count)

In [ ]:
Modeling(df)